{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}



{% block page_header %}

{% endblock %}



{% block content %}

<div class="container">
    <div class=" merch-row merchandise-background ">
         <div class="row">
            <div class="col">
                <hr>
                <h2 class="header-font mb-4">Shopping Cart</h2>
                <hr>
            </div>
        </div>

        <div class="row">
                {% if cart_items %}
                    {% for item in cart_items %}
                    <div class="col-6 merch-row d-flex justify-content-center ">
                        <ul>
                            <li><h5 class="team-font">{{ item.merchandise.name }}</h5></li>
                            <li><div class="image-container my-5">
                            <a href="{% url 'merchandise_detail' item.merchandise.id %}">
                                <img class="cart-image" src="{{ item.merchandise.image_url }}" alt="{{ item.merchandise.name }}">
                            </a>
                            </div></li>
                            <li>
                            <form  method="POST" action="{% url 'update_cart' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.merchandise.stock }}" data-item_id="{{ item.merchandise.id }}" id="id_qty_{{ merchandise.id }}">
                                        <button class="btn-danger btn-lg" type="submit">Update</button>
                                    </div>
                                </div>
                            </form>
                            </li>
                            <li><p class="team-font">${{ item.merchandise.price | calc_subtotal:item.quantity }}</p> </li>
                            <li>
                                <form method="POST" action="{% url 'delete_item' item.item_id %}">
                                {% csrf_token %}
                                    <input type="submit" class="btn-danger btn-lg" value="remove" />
                                </form>
                            </li>
                        </ul>  
                    </div>  
                    <div class="col-12 header-font">
                        <h4 class="header-font">
                            {% if grand_total %}
                                       Grand Total: ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        Grand Total:  $0.00
                                    {% endif %}
                        </h4>
                    </div>
                    {% endfor %}
            <div class="col-12">
                <a href="#" value="Go back!" onclick="history.back()" class="btn-danger btn-lg btn  rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn  rounded-0 btn-lg">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
             
                {% else %}
                <div class="col-6 merch-row d-flex justify-content-center ">
                    <p class="lead mb-5">Your cart is empty.</p>
                    <a href="{% url 'home' %}"   class="btn btn-danger btn-lg rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="header-font">Keep Shopping</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
