{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container ">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container index-hero team-background mt-5">
    <div class="row justify-content-center">
        <div class="col-12 banner logo my-auto">
             <h1 class="  mt-5"> The United States of Sports </h1>
        </div>
        <div class="col-10 mt-5 team-background team-font">
             <p class="mt-5">
                Whether searching for a baseball autographed by your favorite World Series slugger, a signed football by an iconic Hall of Famer, or the jersey of world 
                famous basketball star, you've come to the right place! Merchandise from America's biggest sports leagues, teams, and players! Not only will you find your next prized sports 
                possession with ease thanks to superb customer service, and tremendous site experience, you'll have the satisfaction and peace of mind that every product 
                listed comes complete with a certificate of authenticity. <br> Just click on one of ht eleagues below to start searching thorugh your favourite teams memorabilia!
             </p>
        </div>
        <div class="col-12 mb-5 mt-5">
        <!--list of leageus with corrisponding font-awesome icon for nav-->
            <ul class="nav nav-justified">
                {% for League in Leagues %}
                <li class="nav-item">
                    <a class=" nav-link logo" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="league-button p-2 {{ League.font_awesome }}">  {{ League.name }}</i>
                    </a>
                    <!--Scrollable dropdown of teams realted to whichever league is above-->
                    <div class="dropdown-menu border-1 scrollable-menu" aria-labelledby="user-options">
                                {% for team in teams %}
                                  {% if team.division == League %}
                                    <a href="{% url 'team_merchandise' team.id %}" class="dropdown-item team-font">{{ team.name }} {{ team.nickname }}</a>
                                  {% endif %}
                                {% endfor %}
                            </div>
                </li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
</div>

{% endblock %}