{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container nav-color h-100">
    <div class="row h-100">
        <div class="col-12  my-auto">
             <h1 class="logo"> The United States of Sports </h1>
        </div>
        <div class="col-12 my-auto home-font">
             <p>
             blah blah blah blah blah blah blah blah blah blah
             blah blah blah blah blah blah blah blah blah blah
             blah blah blah blah blah blah blah blah blah blah
             blah blah blah blah blah blah blah blah blah blah
             blah blah blah blah blah blah blah blah blah blah
             blah blah blah blah blah blah blah blah blah blah
             blah blah blah blah blah blah blah blah blah blah
             blah blah blah blah blah blah blah blah blah blah
             blah blah blah blah blah blah blah blah blah blah
             </p>
        </div>
        <div class="col-12 my-auto">
            <ul class="nav nav-justified">
                {% for League in Leagues %}
                <li class="nav-item">
                    <a class=" nav-link logo" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="{{ League.font_awesome }}">{{ League.name }}</i>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% for team in teams %}
                                  {% if team.division == League %}
                                    <a href="{% url 'team_merchandise' team.id %}" class="dropdown-item team-font">{{ team.name }} {{ team.nickname }}</a>
                                  {% endif %}
                                {% endfor %}
                            </div>
                </li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
</div>

{% endblock %}