{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
       
{% block content %}

            <div class="container" style=" background:url({{ team.image_url }}); 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;">  
                <div class="col-12">
                    <h1 class="team-font" >
                        Hello {{ team.name }} {{ team.nickname }}'s Fans!
                    </h1>
                </div>
                <div class=" header-container  row">
                    {% for merchandise in merchandises %}
                        {% if merchandise.team == team %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-lg-2 team-background">
                        <h5 class="team-font">{{ merchandise.name }}</h5>
                        <div class="image-container my-5">
                        <a href="{% url 'merchandise_detail' merchandise.id %}">
                            <img class="merch-image" src="{{ merchandise.image_url }}" alt="{{ merchandise.name }}">
                        </a>
                        </div>
                        <p class="team-font"> {{ merchandise.name }}</p>
                        <p class="team-font">${{ merchandise.price }}</p>
                    </div>                   
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    
{% endblock %}
