{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}
       
{% block content %}

            <div class="container p-0" style=" background:url({{ team.image_url }}); background-repeat: no-repeat; background-size: cover; border-radius: 10px;">  
                <div class="col-12 merch-row banner ">
                    <h1 class=" p-2 rounded-1" >
                        Hello {{ team.name }} {{ team.nickname }}'s Fans!
                    </h1>
                </div>
                    <div class="row no-gutters mb-5 mt-5  justify-content-left p-2" >
                        <div class="col-2">
                            <!--Filter for signed and game used items related to team-->
                            <div class="nav-item dropdown">
                                <a class="filter-link nav-link mr-5" href="#" id="merchandise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Filter
                                </a>
                                <div class="dropdown-menu border-1" aria-labelledby="merchandise-link">
                                    <a href="{% url 'team_merchandise' team.id %}" class="dropdown-item filter-link">all</a>
                                    <a href="{% url 'team_merchandise' team.id %}?signed=True" class="dropdown-item filter-link">Signed</a>
                                    <a href="{% url 'team_merchandise' team.id %}?game_used=True" class="dropdown-item filter-link">Game Used</a>
                                </div>
                            </div>
                            <!--to sort goods by price related to team-->
                            <div class="sort-select-wrapper w-50">
                                <select id="sort-selector" class=" filter-link border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}> Sort by... </option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}> Price (low to high) </option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}> Price (high to low) </option>  
                                </select>
                            </div>
                        </div>
                    </div>
                <!--Incase there is no merchandise in store related to item-->
                <div class="row  no-gutters justify-content-center">
                {% if merch|length == 0 %}
                    <div class="col-12">
                    <div class=" col-12 team-background">
                        <h1 class=" team-font">Sorry we dont have any merchandise related to to {{ team.name }} {{ team.nickname }}! Please try again another time. </h1>
                    </div>
                    </div>
                {% else %}
                <!--a display for merchandise in store related to item-->
                    {% for merchandise in merchandises %}
                        {% if merchandise.team == team %}
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="col-12 team-background team-info">
                                    <h4 class="team-font">{{merchandise.name}}</h4>      
                                    <a class="image-info" href="{% url 'merchandise_detail' merchandise.id %}">
                                        <img class="team-image" src="{{ merchandise.image_url }}" alt="{{ merchandise.name }}">
                                    </a>
                                    <p class="team-font">${{ merchandise.price }}</p> 
                                    <p class="team-font">Stock left {{ merchandise.stock }}</p> 
                                    <div class="col-12 image-info ">
                                        <a href="{% url 'merchandise_detail' merchandise.id %}" class="btn button-general btn-lg mb-2 mt-2">
                                            More Details!
                                        </a>
                                    </div>  
                                </div>
                            <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!--button to go home-->
                <div class="col-12 image-info merch-row">
                    <a href="{% url 'home' %}" class="btn home-button btn-lg mb-5 mt-5">
                        HOME
                    </a>
                </div>  
            </div>
        </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!--this javascript is for the sorting by price feature-->
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}