{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}

{% endblock %}
       
{% block content %}

            <div class="container">
                    <div class=" merch-row merchandise-background ">
                        <!--displays Image for item along with details-->
                        <h2 class="banner header-font pt-2">{{ merchandise.name }}</h2>
                        <a class="image-info" href="{% url 'merchandise_detail' merchandise.id %}">
                            <img class="merch-image" src="{{ merchandise.image_url }}" alt="{{ merchandise.name }}">
                        </a>
                        <p class="team-font container"> {{ merchandise.description }}</p>
                        <p class="team-font">${{ merchandise.price }}</p>
                        <p class="team-font">Stock left: {{ merchandise.stock }}</p>
                        <!--form is used to add to cart-->
                        <form class="form" action="{% url 'add_to_cart' merchandise.id %}" method="POST">
                        {% csrf_token %}
                            <div class="form-row ml-5">
                                <div class="col-12">
                                    <!--Used to add the intented quantity cant go above product stock-->
                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                    <div class="form-group w-50">
                                        <div class="input-group">
                                            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="{{ merchandise.stock }}" data-item_id="{{ merchandise.id }}" id="id_qty_{{ merchandise.id }}">
                                        </div>
                                    
                                    </div>
                                </div>

                                <div class="col-12">
                                    <!--button for gonig back to back to team page-->
                                    <a href="{% url 'team_merchandise' merchandise.team.id %}"  class="btn button-general btn-lg mb-5 mt-5">
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <!--button for gonig back to submit form-->
                                <!-- {% if cart_items %}
                                    {% if item.item.id == merchandise.id and item.quantity == item.merchandise.stock %}
                                        <p class="max-stock mt-2">We cant garuntee we will have enough stock!</p>
                                    {% else %} -->
                                        <input type="submit" class="btn button-general btn-lg text-uppercase mb-5 mt-5" value="Add to Cart">
                                    <!-- {% endif %}
                                {% endif %} -->
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>      
                    </div> 
                    
            </div>
    

{% endblock %}
