{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}
       
{% block content %}

            

        <div class="container">
            <div class=" merch-row merchandise-background ">
                <div class="col-12 merch-row">
                    <h1 class="header-font" >
                         Find what you where looking for?
                    </h1>
                </div>
                 <div class="row">
                    <hr>
                    {% for merchandise in merchandises %}
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="col-12 team-background team-info">
                                    <h4 class="team-font">{{merchandise.name}}</h4>      
                                    <a class="image-info" href="{% url 'merchandise_detail' merchandise.id %}">
                                        <img class="team-image" src="{{ merchandise.image_url }}" alt="{{ merchandise.name }}">
                                    </a>
                                    <p class="team-font">${{ merchandise.price }}</p> 
                                    <p class="team-font">Stock left {{ merchandise.stock }}</p> 
                                </div>
                            <hr>
                            </div>
                    {% endfor %}
                </div>  
                <div class="col-12 image-info merch-row">
                    <a href="{% url 'home' %}" class="btn btn-danger btn-lg rounded-0 mt-5">
                        <span class="text-uppercase">Home</span>
                    </a>
                </div>  
            </div>
        </div>
    
{% endblock %}