{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
       
{% block content %}

            <div class="container header-container team-background" style=" background: url({{ team.image_url }});">
                <div class="row">
                    <div class="col-12"></div>
                    <h1>
                        Hello {{ team.name }} {{ team.nickname }}'s Fans'
                    </h1>
                    </div>
                    {% for merchandise in merchandises %}
                        {% if merchandise.team == team %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <h5>{{ merchandise.name }}</h5>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    
{% endblock %}
