{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h1 class="banner">{% trans "Sign Out" %}</h1>

<p class="team-font">{% trans 'Are you sure you want to sign out?' %}</p>

<div class="row justify-content-center">
    <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <div class="col-12 team-font">
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    </div>
    <button class="button-general  mb-5" type="submit">{% trans 'Sign Out' %}</button>
    </form>
</div>


{% endblock %}
