{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="row justify-content-center">
    <h1 class="banner">{% trans "Change Password" %}</h1>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change team-font">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button-general" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
